
body {
    background: none repeat scroll 0 0 #EDEDED;
    font-family: Tahoma;
    margin: 0;
}
A {
    text-decoration: none;
}
.top {
    background: url("top2.jpg") no-repeat scroll center top transparent;
    direction: rtl;
    height: 320px;
    vertical-align: top;
    width: 1003px;
}
.titr {
    color: white;
    font-family: Times New Roman;
    font-size: 45pt;
    font-weight: bold;
    padding: 98px 0 0 545px;
    text-align: center;
}
.des {
    color: white;
    direction: rtl;
    font-size: 10pt;
    padding: 0 70px 0 500px;
    text-align: center;
}
.menur {
    float: left;
    width: 209px;
}
.menul {
    float: right;
    width: 209px;
}
.tmenu {
    background: url("m1.jpg") no-repeat scroll right top transparent;
    color: #E47300;
    direction: rtl;
    font-size: 9pt;
    height: 58px;
    width: 209px;
}
.tmenu2 {
    padding: 20px 65px 0 0;
    text-align: right;
}
.xmenu {
    background: url("m2.jpg") repeat-y scroll right center transparent;
    color: #444444;
    direction: rtl;
    float: left;
    font-size: 9pt;
    width: 209px;
}
.xmenu a {
    color: #444444;
}
.xmenu a:hover {
    color: #999999;
}
.menu-txt {
    background: url("dot.gif") no-repeat scroll 180px 6px transparent;
    border-bottom: 1px solid #DCDCDC;
    margin: 0 10px;
    padding: 3px 15px 6px 0;
}
.s {
    background: url("m3.jpg") no-repeat scroll right top transparent;
    float: right;
    height: 30px;
    width: 209px;
}
.menu-txt2 span {
    color: #C64226;
    font-size: 8pt;
    font-weight: bold;
}
.menu-txt2 {
    padding: 0 10px 5px;
}
.tpost {
    background: url("p1.jpg") no-repeat scroll right top transparent;
    color: #FFFFFF;
    direction: rtl;
    font-family: Times New Roman;
    font-size: 14pt;
    height: 50px;
    text-align: right;
    width: 543px;
}
.tpost a {
    color: #FFFFFF;
}
.tpost2 {
    padding: 10px 70px 0 20px;
}
.post {
    background: url("p2.gif") repeat-y scroll right center transparent;
    color: #333333;
    direction: rtl;
    font-size: 9pt;
    text-align: right;
    width: 543px;
}
.post2 {
    padding: 8px 15px 10px;
}
.post3 {
    background: url("p3.jpg") no-repeat scroll right top transparent;
    height: 55px;
    text-align: right;
    width: 543px;
}
.post33 {
    padding: 15px 50px 0 5px;
}
.post a {
    color: #C71607;
}
.date {
    color: #777777;
    direction: rtl;
    float: right;
    font-size: 8pt;
    width: 350px;
}
.nazar {
    color: #FFFFFF;
    direction: rtl;
    float: left;
    font-size: 9pt;
    text-align: center;
    width: 130px;
}
.nazar a {
    color: #FFFFFF;
}
.page {
    color: #999999;
    direction: rtl;
    float: right;
    font-size: 8pt;
    text-align: center;
    width: 100%;
}
.page a {
    color: #C64226;
    font-size: 9pt;
}
.ft {
    background: url("ft.jpg") repeat-x scroll center top transparent;
    color: #C1C1C1;
    direction: rtl;
    font-size: 9pt;
    height: 45px;
    text-align: center;
}
.ft a {
    color: #FFFFFF;
}
.top-pichak {
    color: #000000;
    font-size: 10pt;
    padding: 10px 0 0;
    text-align: right;
}
.top a {
    color: #E1E1E1;
    margin: 0 12px;
}
.top a:hover {
    color: #FFFFFF;
}
.sch {
    height: 30px;
    margin: 0;
    padding: 0;
}
.but {
    background: none repeat scroll 0 0 transparent;
    border: medium none;
    cursor: pointer;
    width: 30px;
}
.txt {
    background: none repeat scroll 0 0 transparent;
    border: 0 none;
    color: #FFFFFF;
    height: 20px;
}
.bala {
    float: left;
    height: 20px;
    text-align: right;
    width: 50px;
}
