#blog-description {
    text-align: center;
    font-family:'B bardiya',tahoma;
}

#banner img {
    width: 100%;
}

#navebar {
    margin-top: 20px;
}

.red-line {
    height: 6px;
    background-color: #BD0000;
}

body {
    background: url("../img/bg.png") repeat-x fixed center bottom rgb(238, 238, 238);
}